*{margin:0;padding: 0;}

.menu{
    font-size: large;
    position: sticky;
    display: flex;
    gap: 32px;
    list-style: none;
    justify-content: center;
    font-family: 'Press Start 2P', monospace;
    background-color: #c6c6c6;
    color: #3f3f3f;
    padding: 16px;
    border: 4px solid #ffffff;
    border-right-color: #555555;
    border-bottom-color: #555555;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.4);
    max-width: 550px; 
    height: 26px;
    margin: auto;
    margin-top: 8px;
}

a{
    text-decoration: none;
    justify-content: center;
    background-color: #8b8b8b;
    color: #ffffff;
    padding: 10px 19px;
    border: 2px solid #373737;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    text-shadow: 2px 2px 0px #3f3f3f;
}

a:hover{
    background-color: #69b72ed4;
    border-color: #456304;
    color: #ffffa0;
}